<!DOCTYPE html>
<html lang="pt">

<body>
    <div class="title">
        <h1>Vantagens</h1>
    </div>
    <div class="context">
        <div class="cliente">
            <div class="texto">
                <h2>Clientes</h2>
                <p>Com a utilização da nossa aplicação você poderá usufruir de um sistema que o irá auxiliar no bem
                    estar do seu
                    fiel amigo. Você poderá marcar consultas de uma forma rápida e eficiente sem se preocupar. É lhe
                    disposto vários
                    serviços possiveis desde vacinação a desparatização, além da possivel gestão de lembretes para
                    medicação, entre
                    outras funcionalidades. Ainda poderá realizar encomendas de ração ou medicação via loja online
                    presente em uma
                    das suas abas do menu.</p>
            </div>
            <img src="../../../assets/images/vantagens1.jpg">
        </div>
        <div class="clinicas">
            <img src="../../../assets/images/vantagens2.jpg" alt="">
            <div class="texto">
                <h2>Clinicas</h2>
                <p>Com a nossa parceria, garantimos que terá um uso da aplicação vantajoso em todos os aspetos. Este lhe
                    permite desde gestão dos seus funcionarios e respetiva clinica enquanto gerente da mesma, assim como
                    históricos de serviços e monetização. Enquanto veterinário você poderá visualizar as suas consultas
                    e organizar-se e ainda lhes é permitido o cancelamento de serviços, entre muito mais.</p>
            </div>
        </div>
    </div>
</body>

</html>

<router-outlet></router-outlet>