<!DOCTYPE html>
<html lang="pt">

<head>
    <link rel="stylesheet" href="perfil.component.css">
</head>

<body>

    <div class="section">

        <div class="top_navbar">
            <a>Dr. {{Veterinario.Nome}} {{Veterinario.Apelido}}</a>
            <div class="dropdown">
                <img src="{{Veterinario.FuncionarioFoto}}" class="perfil">
                <div class="dropdown-content">
                    <a routerLink="/veterinario/perfil">Editar Perfil</a>
                    <a routerLink="#">Prescrições</a>
                    <a routerLink="/veterinario/ajuda">Ajuda</a>
                    <a routerLink="/funcionario/login">Sair</a>
                </div>
            </div>
        </div>


        <div class="container">
            <img src="{{Veterinario.FuncionarioFoto}}" class="foto">
            <h3>Informação pessoal</h3>
            <hr>
            <form class="submit">
                <div class="inputs">
                    <p class="sub">Nome</p>
                    <input [(ngModel)]="Veterinario.Nome" name="Nome" id="nome" type="text" disabled="true" />
                </div>
                <div class="inputs">
                    <p class="sub">Apelido</p>
                    <input [(ngModel)]="Veterinario.Apelido" name="Apelido" id="apelido" type="text"
                        placeholder="{{Veterinario.Apelido}}" disabled="true" />
                </div>
                <div class="inputs">
                    <p class="sub">E-mail</p>
                    <input [(ngModel)]="Veterinario.Email" name="Email" id="email" type="email"
                        placeholder="{{Veterinario.Email}}" disabled="true" />
                </div>
                <div class="inputs">
                    <p class="sub">Contacto</p>
                    <input [(ngModel)]="Veterinario.Telemovel" name="Contacto" id="contacto" type="tel"
                        placeholder="{{Veterinario.Telemovel}}" disabled="true" />
                </div>
                <div class="inputs">
                    <p class="sub">Clinicas</p>
                    <div *ngFor="let clinica of ListaClinicas">
                        <input type="text" placeholder="{{clinica.Nome}}" disabled="true" />
                    </div>
                </div>

                <div class="inputs">
                    <p class="sub">Código</p>
                    <input type="number" placeholder="{{Veterinario.Codigo}}" disabled="true" />
                </div>

                <input id="alterar" type="submit" value="Alterar" (click)="Editable()" />
                <div id="editar" class="editar">
                    <p>Alterar Foto</p>
                    <input type="file" class="imageinput" accept="image/jpeg, image/png, image/jpg" (change)="uploadPhoto($event)">
                    <p></p>
                    <input class="confirmar" type="submit" value="Confirmar" (click)="edit()" />
                    <input class="cancelar" type="submit" value="Cancelar" (click)="NonEditable()" />
                </div>
            </form>

            <h3 class="tit">Alteração de palavra-passe</h3>
            <hr>
            <input id="buton" type="submit" value="Alterar" (click)="InsertsPass('buton','passes')">
            <div class="pass" id="passes">
                <form class="submit" ngNativeValidate>
                    <div>
                        <p class="sub">Nova palavra-passe</p>
                        <input required [(ngModel)]="PassNew" name="PassNew" id="pass" type="password"
                            placeholder="Palavra-passe">
                    </div>

                    <div>
                        <input type="checkbox" (click)="ShowPass('pass')">Mostrar
                    </div>

                    <div>
                        <p class="sub">Confirmação palavra-passe</p>
                        <input required [(ngModel)]="PassConfirm" name="PassConfirm" id="pass2" type="password"
                            placeholder="Palavra-passe">
                    </div>

                    <div>
                        <input type="checkbox" (click)="ShowPass('pass2')">Mostrar
                    </div>
                    <div class="submits">
                        <input class="confirmar" type="submit" value="Confirmar" (click)="editPassword()">
                        <input class="cancelar" id="cancelar" type="submit" value="Cancelar"
                            (click)="Cancel('buton','passes')">
                    </div>
                </form>
            </div>

            <h3>Outros</h3>
            <hr>
            <div>
                <p>Idioma: pt-pt</p>
            </div>

        </div>
    </div>

    <div class="sidebar">
        <img src="../../../assets/images/logo.svg" class="logo">
        <ul>
            <li>
                <a routerLink="#">
                    <span class="item">Inicio</span>
                </a>
            </li>
            <li>
                <a routerLink="#">
                    <span class="item">Animais</span>
                </a>
            </li>
        </ul>

    </div>


</body>

</html>

<router-outlet></router-outlet>