<!DOCTYPE html>
<html lang="pt">

<body>
    <div class="title">
        <h1>Funcionamento</h1>
    </div>
    <div class="context">
        <div class="cliente">
            <div class="texto">
                <h2>Registo Cliente</h2>
                <p>Para se iniciar no uso da nossa aplicação como utilizador tem de realizar o registo presente na
                    página inicial ou através dos planos. Após isso será introduzido ao portal do utilizador
                    onde irá iniciar sessão e poderá
                    usufruir da aplicação.</p>
            </div>
            <img src="../../../assets/images/capture_inicio.png" alt="">
            <img src="../../../assets/images/captura_login.png">
        </div>
        <div class="clinicas">
            <img src="../../../assets/images/capture_inicio2.png" alt="">
            <img src="../../../assets/images/capture_adesao.png" alt="">
            <div class="texto">
                <h2>Registo Clinica</h2>
                <p>Vocé terá de aderir a uma parceria conosco na página inicial onde depois irá ser contactado via email
                    para ser decidido a sua credibilidade e então iniciar a sua experiência. Após isso será lhe entregue
                    as credenciais para o login de um gerente inicial onde o mesmo depois pode registar os seus
                    funcionários e permições.</p>
            </div>
        </div>
    </div>
</body>

</html>

<router-outlet></router-outlet>