<!DOCTYPE html>
<html lang="pt">

<body>
    <div class="title">
        <h1>Adesão</h1>
    </div>
    <div class="context">

        <div class="texto">
            <h2>Registo</h2>
            <p>Para realizar uma parceria conosco entre em contacto via email através do seguinte correio eletrónico</p>
            <a href="mailto:assistencia@feedy.pt">assistencia@feedy.pt</a>
            <h2>Documentos</h2>
            <div class="regras">
                <li>Nome da clinica</li>
                <li>Nome do encarregado</li>
                <li>Identificação da clinica</li>
                <li>Cédula do estabelecimento</li>
            </div>
        </div>

    </div>
</body>

</html>

<router-outlet></router-outlet>