<!DOCTYPE html>
<html lang="pt">

<body>
    <div class="title">
        <h1>Mais sobre nós</h1>
    </div>
    <div class="context">
        <div class="cliente">
            <div class="texto">
                <h2>Bibliografia</h2>
                <p>Esta aplicação foi desenvolvida inteiramente para experiência acadêmica pela equipa Vita Software no
                    decorrer do ano letivo de 2021/2022 para a disciplica de Projeto de Desenvolvimento e Software e
                    encontra-se ativa desde então. O nome designado de Feedy Vet traduzido do italiano "Fidi", que
                    significa confiança e alterado o 'i' para 'ee' como representação de um focinho animal, logotipo da
                    aplicação. Esta equipa responsável pela criação cujo nome Vita Software, Vita do latim ,"Vida" tem
                    como fundamentação uma equipa de desenvolvimento e ajuda ao bem estar da vida de todos os seres.</p>
            </div>
            <img src="../../../assets/images/logo.svg">
        </div>
        <div class="clinicas">
            <img src="../../../assets/images/society.jpg" alt="">
            <div class="texto">
                <h2>Objetivos</h2>
                <p>Temos como objetivos a adaptação de uma sociedade ao uso de aplicações que os facilitem na gestão e
                    bem estar dos seus fieis amigos, tanto como ajudar as clinicas a se organizarem de uma forma mais
                    eficiente.</p>
            </div>
        </div>
    </div>
</body>

</html>

<router-outlet></router-outlet>